<a href="index.jsp" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
<a href="index.jsp" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
<a href="index.jsp" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
<a href="getallrecords.html" class="w3-bar-item w3-button" style="width:25% !important">RECORDS</a>